

<form action="/random/results">

  <label for="">Minimum</label>
  <input id="" type= "text" placeholder= "E.g. 1.5" name="user_min"><div></div>

  <label for="">Maximum</label>
  <input id="" type= "text" placeholder= "E.g. 4.5" name="user_max"><div></div>

  <button>Pick random number</button>

</form>
