<form action="/square_root/results">

  <label for="sqrt_input">Enter a number</label>
  <input id="sqrt_input" type= "text" placeholder= "What number do you want to square root of?" name="user_number"><div></div>

  <button>Calculate square root</button>

</form>
