<form action="/square_root/results">

  <label for="">Enter a number</label>
  <input id="" type= "text" placeholder= "What number do you want to square root of?" name="user_number"><div></div>

  <button>Calculate square</button>

</form>
