<h1>Hola</h1>

<form action="/random/new">

  <label for="">Enter a number</label>
  <input id="" type= "text" placeholder= "What number do you want to square?" name="elephant">

  <button>Calculate square</button>

</form>
