<form action="/payment/results">

  <label for="apr_input">APR</label>
  <input id="apr_input" type= "text" placeholder= "E.g. 5.42" name="apr_percent"><div></div>

  <label for="year_input">Number of years</label>
  <input id="year_input" type= "text" placeholder= "How many years to repay?" name="years"><div></div>

  <label for="princ_input">Number of years</label>
  <input id="princ_input" type= "text" placeholder= "How much principal?" name="principal"><div></div>

  <button>Calculate monthly payment</button>

</form>
