
<form action="/square/results">

  <label for="sq_input">Enter a number</label><div></div>
  <input id="sq_input" type= "text" placeholder= "What number do you want to square?" name="elephant"><div></div>

  <button>Calculate square</button>

</form>
