
<form action="/square/results">

  <label for="">Enter a number</label><div></div>
  <input id="" type= "text" placeholder= "What number do you want to square?" name="elephant"><div></div>

  <button>Calculate square</button>

</form>
